
@keyframes upTick {
  0% {
      box-shadow: 0px 0px 0px 0px rgba(207, 195, 195, 0.15);
  }
  25% {
      box-shadow: 0px 0px 5px 0px green;

  }

  100% {
      box-shadow: 0px 0px 0px 0px rgba(207, 195, 195, 0.15);
  }
}

@keyframes downTick {
  0% {
      box-shadow: 0px 0px 0px 0px rgba(207, 195, 195, 0.15);
        }
  25% {

      box-shadow: 0px 0px 5px 0px red;

  }

  100% {
box-shadow: 0px 0px 0px 0px rgba(207, 195, 195, 0.15);
  }
}

.upTick {
  animation-duration: 1.5s;

  animation-name: upTick;
}
.downTick {
  animation-duration: 1.5s;

  animation-name: downTick;
}

.quoteBox{
  border: 1px solid black;
  padding:1em;
  margin:1em;
}


.svgChart{
  border: 1px solid black;
}


.not-available{
  font-style: italic;
  text-decoration: underline;
}

.line{
  fill:none;
  stroke: black;
}

.slopeLine{
  fill:none;
  stroke: magenta;
  stroke-width: 3px;
  pointer-events:none;
}

g.tick{
  pointer-events:none;
  z-index: 0;

}

.candleStick{z-index: 1;}